.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-image:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.15);
}

.modal-pic {
  width: 100px;
}

.modal-pic:hover {
  cursor: pointer;
}

.selected {
  border-radius: 20%;
  background-color: #0dcaf0aa;
}

@media (min-width: 450px) {
  .f-row {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .s-row {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 449px) {
  .full-modal-pic {
    width: 300px;
    margin: 0 auto;
  }
  .modal-pic {
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 991px) {
  .profile-input {
    margin-left: 2rem;
  }
}
