.card {
  width: 18rem;
  margin: auto;
  padding: auto;
}

@media only screen and (min-width: 991px) and (max-width: 1400px) {
  .card {
    width: 14rem;
  }
}

@media only screen and (min-width: 767px) and (max-width: 1100px) {
  .card {
    width: 13rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .card {
    width: 15rem;
  }
}