.image {
  width: 40vh;
  height: 10vh;
}

.containerIcon {
  position: relative;
}

.containerIcon svg {
  position: absolute;
  top: 20%;
  right: 4.5%;
  width: 25px;
  height: 25px;
  color: rgb(100, 100, 100);
}

.icon-group {
  display: flex;
  align-items: center;
  position: absolute;
  right: 60px;
  top: 10%;
}

.lock-icon,
.btn-eye {
  display: flex;
  align-items: center;
  position: absolute;
  left: 5px;
}

.btn-eye {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 1000px) {
  #containerLogin {
    width: 700px;
  }
}

@media only screen and (max-width: 767px) {
  .containerIcon svg {
    right: 13%;
  }
  .image {
    width: 30vh;
    height: 8vh;
  }
}
