.pesquisa[placeholder] {
  padding-left: 2rem;
}

.searchIcon {
  position: relative;
}

.searchIcon svg {
  position: absolute;
  top: 20%;
  left: 2%;
  height: 22px;
  color: rgb(200, 200, 200);
}

.searchIcon:focus-within svg {
  visibility: hidden;
}

@media only screen and (max-width: 1199px) and (min-width: 700px) {
  .pesquisa[placeholder] {
    padding-left: 3rem;
  }
}

@media only screen and (min-width: 1200px) {
  .searchIcon {
    width: 25rem;
  }
}

@media only screen and (min-width: 1390px) {
  .searchIcon {
    width: 35rem;
  }
}
