.card {
  width: 18rem;
  margin: auto;
  padding: auto;
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  .card {
    width: 14rem;
  }
}

@media only screen and (min-width: 767px) and (max-width: 900px) {
  .card {
    width: 15rem;
  }
}

@media only screen and (min-width: 576px) and (max-width: 600px) {
  .card {
    width: 15rem;
  }
}